body {
  margin:0;
  padding: 0;
  background-color:#dbdbdb;
  color: #000000;/*#5a5a5a;*/
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.app-container{
  background-color: #f8f9fa;
  display: grid;
  grid-template-rows: 65px 1fr 35px;
  min-height: 100vh;
}

/*-----------------------------------*/
/*Top navbar*/
/*-----------------------------------*/

header{
  margin:0;
  padding: 10px;          
}

#topnavbar{
  background: url("../img/background-header.png") no-repeat center scroll;
  background-color: #364b5f;
}

.navbar-brand{
  color: #a5a5a5;
}


main{
  display: grid;
  grid-template-columns: 295px 0.80fr 1.20fr;
  grid-template-rows: 1fr;
}

main > section{
  /*background-color:cornsilk;*/
  background-color:#f8f9fa;
  /* border: 1px solid black; */
}

/*--------------------------------*/
/*Aside Navbar                    */
/*--------------------------------*/
#sidebarMenu{
  /*height: 95vh;*/
  padding-top: 50px;
}

#sidebarMenu a{
  text-decoration: none;
  font-size: 1rem;
  line-height: 1em;
}

#sidebarMenu .card {
  margin-top:5px;
}

#sidebarMenu .card-body {
  padding:0.75rem;
  
}

#panel2 a {
  color:#354b5f;
  font-weight: bold;
  font-size:0.80rem;
  cursor: default;
}

#panel3 label{
  color:#354b5f;
  font-weight: bold;
  font-size:0.80rem;
  cursor: default;
}



/* Controles de búsqueda */
.typeahead-devs, .tt-hint, .combomunis, .combomtn, .dvm-input  {
  border: 2px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  font-size: 11px;
  height: 32px;
  line-height: 30px;
  outline: medium none;
  padding: 4px 4px;
  width: 220px;
}
.tt-dropdown-menu {
width: 220px;
margin-top: 5px;
padding: 8px 12px;
background-color: #fff;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 4px 4px 4px 4px;
font-size: 10px;
color: #111;
background-color: #F1F1F1;
}

#codDictio, #provinCbo, #searchByNameType {
  font-size: 10px;
  padding: 3px 6px;
  height: 24px;
}

/* Tabulator */

.tabulator-row .tabulator-cell{
  padding:0px;
}

.tabulator {
  font-size: 12px;
}

#example-table{
  height: 70vh;
}


/* Ajustamos la anchura del modal para que nos salgan los iconos en una línea */
@media (min-width: 992px){
  .modal-lg, .modal-xl {
    --bs-modal-width: 900px;
  }
}

/*-----------------------------------------*/
/*Detalles de la entidad                   */
/*-----------------------------------------*/


.titleFirst {
  /* Hasta 36 caracteres */
  border-bottom: 1px double #0b5b8e;
  padding-bottom: 5px;
  color: #176d9b;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: normal;
  margin-top: 15px;
}

.titleSecond {
  /* Hasta 47 caracteres */
  border-bottom: 1px double #0b5b8e;
  padding-bottom: 10px;
  padding-right: 55px;
  color: #176d9b;
  font-size: 2rem;
  font-weight: 800;
  line-height: normal;
  margin-top: 15px;
  word-break:normal;
}

.dictioTitleFirst{
  position: absolute;
  top: 8px; 
  right: 16px;
  width:48px;
}




.dictioTitleSecond{
  /*position: relative;
  top: -100px; 
  right: -570px;*/
  max-width:48px;
  max-height:48px;
}

.propTitle {
  /*border-bottom: 1px dotted #389b17;*/
  color: #176d9b;
  font-size: 1.3rem;
  font-weight: 800;
  line-height: normal;
  margin-top: 5px;
  text-transform: uppercase;
}

.propSubTitle{
  color: #176d9b;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: normal;
  margin-top: 10px;
  text-transform: uppercase;   
}

.propSubContent{
  color: #6c6c6c;
  font-size: 1rem;
  line-height: normal;
  margin-top: 5px;  
}

.propContent {
  color: #6c6c6c;
  font-size: 14px;
  line-height: normal;
  /*margin-top: 15px;*/
}

p.propContent {
  color: #6c6c6c;
  text-align: justify;
}

#propImageDictio{
  width: 10%;
  padding: 0px;
}


img.idioma_spa{
  content: url("../img/flag-es.svg");
  width:20px; 
  margin-left:5px; 
}

img.idioma_cat{
  content: url("../img/flag-cat.svg");
  width:20px; 
  margin-left:5px; 
}

img.idioma_glg{
  content: url("../img/flag-gal.svg");
  width:20px; 
  margin-left:5px; 
}

img.idioma_oci{
  content: url("../img/flag-oci.svg");
  width:20px; 
  margin-left:5px; 
}

img.idioma_eus{
  content: url("../img/flag-eus.svg");
  width:20px; 
  margin-left:5px; 
}

img.idioma_ara{
  content: url("../img/flag-ara.svg");
  width:20px; 
  margin-left:5px; 
}

img.idioma_ast{
  content: url("../img/flag-ast.svg");
  width:20px; 
  margin-left:5px; 
}

img.oficial{
  content: url("../img/stamp-svgrepo-com.svg");
  width:14px; 
  margin-left:5px; 
}

img.normalizado{
  content: url("../img/thumbs-up-solid.svg");
  width:14px; 
  margin-left:5px; 
}

img.no-normalizado{
  content: url("../img/thumbs-down-solid.svg");
  width:14px; 
  margin-left:5px; 
}

img.envio_paisvasco_gipuzkoa_comp, img.envio_paisvasco_alava_comp, img.envio_paisvasco_bizkaia_comp {
  content: url("../img/flag-eus.svg");
  width:20px; 
  margin-left:5px; 
}

img.envio_larioja_comp {
  content: url("../img/flag-larioja.svg");
  width:20px; 
  margin-left:5px; 
}

img.envio_murcia_comp {
  content: url("../img/flag-murcia.svg");
  width:20px; 
  margin-left:5px; 
}

img.envio_aragon_comp {
  content: url("../img/flag-aragon.svg");
  width:20px; 
  margin-left:5px; 
}

img.envio_asturias_comp {
  content: url("../img/flag-ast.svg");
  width:20px; 
  margin-left:5px; 
}

img.envio_navarra_parte1_comp {
  content: url("../img/flag-navarra.svg");
  width:20px; 
  margin-left:5px; 
}




/*-------------------------*/
/*Footer                   */
/*-------------------------*/

footer{
  margin:0;
  padding: 0;
  padding-top: 5px;
  position: fixed;
  bottom:0;
  height: 35px;
  width: 100%;
}

.footer a {
  color: #999;
}
.footer a:hover {
  color: #efefef;
}


/*
Ajustes del contenedor del control Mouse
*/
.m-control.m-container.m-mousesrs-container{
  left:20px;
  top: 800px;
  height: 24px;
}

 .m-control.m-scale-container{
  height: 24px !important;
}